prefer-no-csd
clipboard { disable-primary; }
cursor { xcursor-size 24; hide-when-typing; }
input {
    keyboard {
        repeat-delay 200
        repeat-rate 25
        xkb {
            layout "us"
            // options "caps:ctrl_modifier,ctrl:swapcaps"
        }
    }
    touchpad {
        tap
        natural-scroll
        accel-speed 0.2
        scroll-method "two-finger"
    }
    warp-mouse-to-focus
 // focus-follows-mouse max-scroll-amount="95%"
}
debug {
    // noctalia 的通知操作 / 窗口激活需要这个，否则点通知按钮没反应
    honor-xdg-activation-with-invalid-serial
    // disable-monitor-names
    // render-drm-device "/dev/dri/card1"
    // ignore-drm-device "/dev/dri/renderD128"
    // ignore-drm-device "/dev/dri/renderD130"
    // force-pipewire-invalid-modifier
    // dbus-interfaces-in-non-session-instances
    wait-for-frame-completion-before-queueing
    // preview-render "screencast"
    // enable-overlay-planes
    deactivate-unfocused-windows
    disable-cursor-plane true
}
hotkey-overlay { skip-at-startup; hide-not-bound; }
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
gestures {
    hot-corners {
       off
    }
}

include "rules.kdl"
include "animation.kdl"
include "environment.kdl"
include "keys.kdl"
include "layouts.kdl"
include "noctalia.kdl"

include "startup.kdl"
include "./machine-custom.kdl" // 最后机器特定可定制的，不用每次rebuild
